* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f3f3f3;
}

.calculator {
	background-color: #222;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.display {
	background-color: #444;
	color: white;
	text-align: right;
	padding: 20px;
	font-size: 2em;
	border-bottom: 2px solid #333;
}

.display .previousOperand {
	color: #bbb;
	font-size: .8em;
}

.buttons {
	display: flex;
	flex-direction: column;
}

.calculate,
.numbers,
.operators {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.calculate button,
.numbers button,
.operators button {
	background-color: #333;
	border: 1px solid #444;
	color: white;
	font-size: 1.5em;
	padding: 20px;
	flex: 1;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.calculate button:hover,
.numbers button:hover,
.operators button:hover {
	background-color: #555;
}

.numbers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.numbers .zero {
	grid-column: 2;
}

.calculate {
	display: flex;
	justify-content: space-between;
}

.operators {
	display: flex;
	justify-content: space-between;
}